.popup-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(20px);
	visibility: hidden;
	opacity: 0;
	z-index: 11;
	overflow-y: auto;

	// .popup-screen__inner

	&__inner {
		position: relative;
		z-index: 2;
	}

	&__game-menu {
		align-self: center;
	}

	&__inventory {
		margin-top: 55px;
		margin-bottom: 55px;
		height: max-content;
	}

	&.is-active {
		animation: fade-in;
		animation-fill-mode: forwards;
		animation-duration: 0.4s;
	}

	// custom versions of popup screen
	&#inventory-screen {
		background-color: rgba(128, 128, 128, 0.56);
	}
}
