.inventory {
	width: 100vw;
	max-width: 950px;
	// .inventory__head

	&__head {
		padding: 0 35px;
	}

	// .inventory__nav

	&__nav {
		display: flex;
		gap: 15px;
		align-items: flex-end;
	}

	// .inventory__nav-item

	&__nav-item {
		background: #e7e7e7;
		border-radius: 10px 10px 0px 0px;
		display: flex;
		height: 80px;
		width: 110px;
		flex-direction: column;
		align-items: center;
		padding-top: 18px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 10px;
		flex: 0 auto;
		cursor: pointer;

		&.is-active {
			width: 127px;
			height: 90px;
			background: #ffffff;
			.inventory {
				&__nav-item-icon {
					margin-bottom: 10px;
				}
				&__nav-item-image {
					width: 35px;
				}
				&__nav-item-title {
					font-size: 15px;
				}
			}
		}
	}

	// .inventory__nav-item-icon

	&__nav-item-icon {
		margin-bottom: 5px;
		width: max-content;
	}

	// .inventory__nav-item-image

	&__nav-item-image {
		width: 30px;
	}

	// .inventory__nav-item-title

	&__nav-item-title {
		font-family: "Inter";
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;

		color: $dark-violet;
	}

	// .inventory__body

	&__body {
		background: #ffffff;
		box-shadow: 0px 4px 70px 5px rgba(72, 72, 72, 0.24);
		border-radius: 20px;
		padding: 35px;
		display: flex;
	}

	&__body-is-empty-message {
		font-size: 32px;
		font-weight: bold;
		color: rgba(0, 0, 0, 0.35);
	}

	// .inventory__main

	&__main {
		max-width: 473px;
		margin-right: 52px;
		position: relative;
		flex: 1 0 auto;
	}

	// .inventory__search

	&__search {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 36px;
	}

	// .inventory__search-icon

	&__search-icon {
		position: absolute;
		left: 21px;
		z-index: 2;
	}

	// .inventory__search-icon-image

	&__search-icon-image {
		width: 16px;
		fill: $dark-violet;
	}

	// .inventory__search-form

	&__search-form {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 1;
	}

	// .inventory__search-text-input

	&__search-text-input {
		width: 100%;
		height: 55px;
		background: #ededed;
		border-radius: 10px;
		appearance: none;
		border: none;
		padding-left: 48px;
		padding-right: 20px;
		color: $dark-violet;
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		&::placeholder {
			font-family: "Inter";
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
		}
		&:focus {
			outline: none;
		}
	}

	// .inventory__items

	&__items {
		position: relative;
		height: 487px;
		overflow: hidden;
	}

	&__items-list {
		gap: 19px;
		row-gap: 26px;
		flex-wrap: wrap;
		display: flex;
	}

	// .inventory__item

	&__item {
		flex: 0 auto;
		position: relative;
		width: 145px;
		height: 145px;
		background: #f2f2f2;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.5s;
		&.available {
			cursor: pointer;
			&:hover {
				background-color: $light-blue;
			}
		}
		&.is-active {
			background-color: $light-blue;
		}
		&.large {
			width: 308px;
		}
	}

	// .inventory__item-image

	&__item-image {
		width: 85px;
		position: absolute;
	}

	// .inventory__item-counter

	&__item-counter {
		position: absolute;
		right: 5px;
		bottom: 5px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 18px;

		color: #f5f1f1;
		background: #290e74;
		border-radius: 20px;
		padding: 0 5px;
	}

	// .inventory__scroll

	&__scroll {
		height: 487px;
		width: 12px;
		position: absolute;
		bottom: 0;
		right: calc(-20px - 12px);
	}

	// .inventory__asside

	&__asside {
		max-width: 358px;
		width: 100%;
	}

	// .inventory__item-card

	&__item-card {
	}

	// .inventory__progress-box

	&__progress-box {
		display: none;
		margin-top: 35px;
	}
}

@import "./tab/ammo.scss";
