$main-gray: #d9d9d9;
$gray-1: #f2f2f2;
$success-green: #77d849;
$light-yellow: #f0d43f;
$dark-violet: #290e74;
$light-blue: #a7c4ff;
$success-green-1: #43d051;
$error: #da4242;
$black: #2f2f2f;
$pink: #dfbedc;
