@import "./reset.scss";
@import "./colors.scss";
@import "./animations.scss";

body {
	font-family: "Inter", sans-serif;
	overflow-y: auto;
}

* {
	box-sizing: border-box;
}

canvas {
	display: none;
}

@import "./blocks/popup-screen.scss";
@import "./blocks/game-menu.scss";
@import "./blocks/gun.scss";
@import "./blocks/card.scss";
@import "./blocks/scroll.scss";
@import "./blocks/progress-bar.scss";
@import "./blocks/progress-box.scss";
@import "./blocks/inventory/inventory.scss";
