.inventory_tab_ammo {
	.inventory {
		// .inventory__items

		&__items {
			height: 317px;
		}

		// .inventory__item-card

		&__item-card {
		}

		// .inventory__progress-box

		&__progress-box {
			display: block;
		}
	}

	.card {
		// .card__head

		&__head {
			height: 406px;
			margin-bottom: 37px;
			border-radius: 10px;
			overflow: hidden;
		}

		// .card__head-background

		&__head-background {
			background-color: #a4a4a4;
		}

		// .card__head-icon-effect

		&__head-icon-effect {
			display: none;
		}

		// .card__head-icon-image

		&__head-icon-image {
			display: none;
		}

		// .card__body

		&__body {
			border-radius: 10px;
		}

		// .card__title

		&__title {
		}

		// .card__description

		&__description {
		}

		// .card__actions

		&__actions {
		}

		// .card__action

		&__action {
		}

		// .card__action-text

		&__action-text {
		}
	}
}
